html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0;
    background: #fbfbfb;
}

#sidebar {
    display: flex;
    flex-flow: column nowrap;
    background: #e0ecf0;
}
.search {
    box-sizing: border-box;
    margin: 8px;
}
.list {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    overflow-y: scroll;
}

.layout-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}
.chart-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4px;
    height: 50%;
    width: 100%;
    border: 1px solid;
    border-color: #a0a0a0;
}

.dropdown-list-container {
    float: right;
    clear: both;
}

#map-tag-select {
    width: 14em;
}

/* Don't show grid lines in the bar chart */
#bottom-left .tick line {
    display: none;
}

/* Don't show y axis in the bar chart */
#bottom-left .nvd3 .nv-axis.nv-y path.domain{
    stroke-opacity: 0;
}
