html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 14em;
}
.search {
    box-sizing: border-box;
    margin: 8px;
}
.list {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px dashed;
    overflow-y: scroll;
}

.layout-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}
.chart-container {
    margin: 2px;
    border: 1px dashed;
    flex: 1;
}
